.about
	%h2.center Welcome to txtbus
	%h3.center txtbus is a haiku-simple social network, designed in Ruby with Sinatra+HAML
	.tech 
		Technologies used: 
		%ul
			%li
				MySQL
			%li
				Ruby
			%li
				Sinatra (Ruby DSL for rapid web development)
			%li
				HAML (Markup language written in ruby)
			%li 
				CSS
			%li
				JS
	.disclaimer.center
		%small 
			%strike.right
				tell your friends!
